
#MobileMenu {
    display: none;
}

@media(max-width:768px) {
    #MobileMenu {
        display: none;
        border-color: transparent;
        border: 1px solid #ff0000;
        background-color: #171717;
        color: #e3e3e3;
        right: 0 !important;
        position: fixed;
        max-width: 100% !important;
        max-height: 100vh !important;
        width: 320px !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: 0 !important;
    }

        #MobileMenu ul, #MobileMenu a {
            color: #e3e3e3;
            list-style: none;
            display: flex;
            flex-direction: column;
            text-decoration:none;  
        }
}
